
#toaster-container {
	position: fixed;
	bottom: 0px;
	white-space: nowrap;
}

md-toast.md-success-toast-theme .md-toast-content {
	background-color: #fff !important;
	color: #176def !important;
	opacity: 0.8;
}

md-toast.md-success-toast-theme .md-toast-content .md-button.md-highlight {
	color: #70e69f !important;
}

md-toast.md-error-toast-theme .md-toast-content {
	background-color: #cd8484 !important;
	color: #fff !important;
	opacity: 0.8;
}

md-toast.md-error-toast-theme .md-toast-content .md-button.md-highlight {
	color: #f7d905 !important;
}

a {
	text-decoration: none;
	color: inherit !important;
}

#app-title {
	cursor: pointer;
}

#app-title-text {
  	font-weight: bold;
  	font-family: Verdana, Geneva, sans-serif;
  	text-decoration: none;  
  	display: inline-block;
  	padding-bottom: 10px;
  	position: relative;
}

#app-title-text:after {    
  	background: none repeat scroll 0 0 transparent;
  	bottom: 0;
  	content: "";
  	display: block;
  	height: 2px;
  	left: 50%;
  	position: absolute;
  	background: #8ee5ef;
  	transition: width 0.3s ease 0s, left 0.3s ease 0s;
  	width: 0;
}

#app-title-text:hover:after { 
  	width: 100%; 
  	left: 0; 
}

#app-title-icon {
	vertical-align: middle;
	color: white;
	position: relative;
	border-radius: 50%;
	padding: 5px;
	margin: 3px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
	background-color: #8ee5ef;
}

#app-title-icon:after {
	content: "";
	width: 100%;
	height: 100%;
	border: solid 2px;
	transform: scale(0.8);
	position: absolute;
	top: -2px;
	left: -2px;
	border-radius: 50%;
	transition: all 0.3s ease;
	border-width:3px;
	top:-3px;
	left:-3px;
	border-color: #8ee5ef;
}

#app-title:hover:after #app-title-icon{
	transform: scale(1);
	box-shadow: 10px 0 20px rgba(0, 0, 0, 0.19), 6px 0 6px rgba(0, 0, 0, 0.23);
}


#app-title:hover #app-title-icon{
	background-color: transparent;
	transform: rotate(-225deg);
	cursor: pointer;
	box-shadow: none;
	color: #8ee5ef;
}

#app-title-company-name {
	color: #002d6a;
	vertical-align: middle;
}

#app-title-tool-name {
	color: #6caedf;
	vertical-align: middle;
}

#main-outter-container {
	background-color: #e9eaec;
}

.top-image-placeholder {
	width: 100%;
	height: 250px;
	background-color: #fff;
	border-bottom: solid 1px #e9eaec;
	z-index: 99;
}

#main-nav {
    width:100%;
    height: 60px;
    background-color: #fff;
    z-index: 99;
}

.fix-to-top {
    position: fixed;
    top: 0;
}

.mdl-layout__header-row {
	background-color: #fff;
	color: #ccc;
}

#main-body-container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 80%;
	padding: 15px;
}

#filter-keywords-input {
	padding-top: 0px;
	padding-bottom: 0px;
}

#global-search-icon {
	color: #888;
}

.filter-dropdown{
	margin-right: 25px;
}

#find-app {
	background-color: #fff;
	width: 100%;
}

#find-app > table > tbody {
	cursor: pointer;
}

#manage-app > table > tbody {
	cursor: pointer;
}

#manage-app {
	background-color: #fff;
	width: 100%;
	margin-top: 20px;
}

th > i {
	margin-bottom: 2px;
}

#apps-container {
	width: 110%;
}

#app-cnt-container {
	width: 100%;
	margin-bottom: 15px;
}

#filter-container {
	background-color: #fff;
	width: 100%;
	margin-bottom: 20px;
}

.mdl-data-table {
	width: 100%;
	border-width: 0px;
	white-space: nowrap;
}

.fright {
	float: right;
}

#filter-keywords {
	border-top: solid 1px #e9eaec;
	border-bottom: solid 1px #e9eaec;
}

#filter-saved {
	border-left: solid 1px #e9eaec;
	width: 20%;
	text-align: center;
}

#filter-set-options {
	padding-top: 0px;
	padding-bottom: 0px;
}

#app-cnt-number {
	padding-left: 6px;
	padding-right:6px;
	border-radius: 2px;
}

#app-cnt-number-wrapper {
	border-radius: 2px;
}

#table {
	border-width: 0px;
	white-space: normal;
}

.app-card-square.mdl-card {
  width: 100%;
  height: 100%;
}

.app-card-square > .mdl-card__title {
  background-color: #fafafa !important;
  height: 100px;
}

#app-card-title {
  	font-size: 14px;
  	font-weight: 600;
  	font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
  	color: #00bcd4;
}

#app-card-author {
  	font-size: 11px;
  	font-style: italic;
  	font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
  	color: #888;
}

#app-card-icon {
	border-radius: 50%;
	max-width: 100%;
	max-height: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: #bbb;
	margin: auto;
}

#app-card-icon-container {
	display: inline-flex;
	width: 30%;
	height: 100%;
}

#my-app-icon-container {
	display: flex;
	flex-direction: column;
	height: 48px;
}

#app-card-basic-info {
	display: flex;
	width: 70%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;	
}

#app-card-description {
	display: block;
  	height: 150px;
  	color: #686868;
}

#app-card-detail {
	text-align: center;
	background-color: #fafafa;
	color: #686868;'
}

#app-card-detail > a {
	font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
}

#app-card-detail > a {
	font-weight: bold;
}

app-card {
	margin-right:30px;
	margin-bottom:30px;
	display: inline-block;
}

.module-header1-text {
	margin-left: 10px;
}

.module-header1-icon {
	vertical-align: middle;
	margin-left: -5px;
}

#global-search-icon-container {
	vertical-align: middle;
	margin-left: 15px;'
}

#my-apps-toolbar {
	background-color: #fff;
	height: 50px;
	margin-bottom: 15px;
	display: flex;
	align-items: center;
	padding-left: 10px;
	padding-right: 10px;
}

#my-apps-toolbar > button {
	margin-left: 10px;
	margin-right: 20px;
}

md-dialog {
	border-radius: 2px !important;
	width: 50%;
}

md-dialog-content {
	overflow: hidden !important;
}

.md-dialog-content {
	overflow: auto !important;
}

#view_app_creation_form {
	height: 600px;
	overflow-y: auto;
	overflow-x: hidden;
}

md-pagination-wrapper {
	width: 100%;
}

md-tab-item {
	max-width: 50% !important;
	width: 50%;
}

.md-tab.md-active {
	color: #81b6f7 !important;
}

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
	color: #08f3f3;
	background-color: #88b9f5;
}

.tps-modal-headline {
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	padding: 0px 10px;
	background-color: #81a7da;
	font-family: Verdana, Geneva, sans-serif;
	display: flex;
	align-items: center;
}

md-button {
	font-family: Verdana, Geneva, sans-serif;
}


#app_creating_icon:after {
		content: "";
		width: 100%;
		height: 100%;
		border: solid 2px;
		transform: scale(0.8);
		position: absolute;
		top: -2px;
		left: -2px;
		border-radius: 50%;
		transition: all 0.3s ease;
		border-color: #6caedf;
}

tr:hover:after #app_creating_icon {
		transform: scale(1);
}

tr:hover #app_creating_icon {
		background-color: transparent;
		cursor: pointer;
		box-shadow: none;
		color: #6caedf;
}

#app_creating_icon {
		font-size: 1.5rem;
		color: white;
		border-radius: 50%;
		padding: 5px;
		transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
	    -webkit-animation:spin 2s linear infinite;
	    -moz-animation:spin 2s linear infinite;
	    animation:spin 2s linear infinite;
		background-color: #6caedf;
}


#app_deleting_icon:after {
		content: "";
		width: 100%;
		height: 100%;
		border: solid 2px;
		transform: scale(0.8);
		position: absolute;
		top: -2px;
		left: -2px;
		border-radius: 50%;
		transition: all 0.3s ease;
		border-color: #cd8484;
}

tr:hover:after #app_deleting_icon {
		transform: scale(1);
}

tr:hover #app_deleting_icon {
		background-color: transparent;
		cursor: pointer;
		box-shadow: none;
		color: #cd8484;
}

#app_deleting_icon {
		font-size: 1.5rem;
		color: white;
		border-radius: 50%;
		padding: 5px;
		transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
	    -webkit-animation:spin 2s linear infinite;
	    -moz-animation:spin 2s linear infinite;
	    animation:spin 2s linear infinite;
		background-color: #cd8484;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#app_view_details_icon {
	font-size: 34px;
}

.md-tooltip {
    border-radius: 2px !important;
}

.vcenter {
	display:flex;
	align-items: center;
}

#my-apps-container > tbody {
	cursor: pointer;
}

.cropArea {
  	background: #f2f2f2;
  	overflow: hidden;
  	width:100%;
  	height:350px;
  	margin:30px auto 30px auto;
}

#profile_image_upload_menu {
	background-color: #fff;
	border-style: solid;
	border-width: 2px;
	border-color: #fff;
	margin-bottom: 10px;
	width: 100%;
}

#profile_image_upload_menu > button {
	margin-left: 10px;
	margin-bottom: 2px;
	margin-top: 2px;
	color: #0ab0e2;
}

.tps_label {
	color: #aaa;
	font-weight: 600;
	margin-bottom: 8px;
	padding-left: 10px;
}

#cropped_image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
}

#cropped_image_container{
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #ddf7f3;
}

span.stars, span.stars span {
    display: block;
    background: url('../image/stars.png') 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}

#download_icon {
	width:16px;
	height:16px;
}

#app-card-recommendation-info {
	display: flex;
}

#rating {
	width: 50%;
	margin-top: 2px;
	text-align: left;
}

#downloads {
	display: flex;
	justify-content: flex-end;
	width: 50%;
}

#downloads-cnt {
	font-weight: 600;
	margin-left: 6px;
	margin-top: 2px;
}

#app-card-header {
	padding-right: 2px;
}

.my-app-icon-cell{
	width:10%;
}